body{
    margin: 5px;
    padding: 0;
}
.main{
    height: 300px;
    width: 100vw;
    padding: 20px;
    background-color: #d9e6f2;
}
.main h1{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
}
#photo{
    border-radius: 50%;
    border: 2px solid white;
    margin-top: -120px;
}
.trib{
    /* padding-top: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.intro{
    background-color:  #ebc2e0;
    box-shadow: 2px 2px 6px black;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(60, 58, 58);
    width: 500px;
}
.details{
    display: flex;
    justify-content: center;
}
#he{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(155, 105, 105);
}
.titl {
    text-align: center;
    background-color: #c7cfff;
    font-weight: bold;
}
td{
    background-color: #f2f2ff;
    padding: 10px;
}
