@import url('https://fonts.googleapis.com/css2?family=Joan&family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Poppins:ital,wght@1,200&display=swap');
body {
    background-color:  rgb(161, 156, 156);
}
h1 {
    text-align: center;
    font-size: 6rem;
    font-family: 'The Nautigal', cursive;
}
p{
    float: right;
    margin-right: 20vw;
    margin-top: -8vh;
    font-size:1.1rem;
    font-family: 'The Nautigal', cursive;
    color: blue;
}
.main{
    width: 98vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
tr{
    width: 50rem;
    background-color: rgb(232, 216, 219);
}
.btn{
    width: 25%;
    padding: 4vh 6vw;
    font-size: 1.5rem;
    font-family: 'Joan', serif;
    border : 0.5px solid rgb(181, 179, 179);
}
.btn:hover {
    background-color:rgb(219, 162, 172);
}
#results {
    margin-bottom: 1rem;
    text-align: right;
    height: 8rem;
    padding-right: 2rem;
    background-color: whitesmoke;
    font-size: 5rem;
    font-family: 'Joan', serif;
    border-radius: 5px;
}
